@model Image_upload_project.Models.Image.ImageUploadViewModel

@{
    ViewData["Title"] = "Image upload";
    Layout = "_Layout";
}

<h1>Upload an image to your repository</h1>

@if (ViewBag.Error != null)
{
    <p class="alert-danger">@ViewBag.Error</p>
}
@using (Html.BeginForm("ImageUploadPost", "Images", FormMethod.Post, new {enctype = "multipart/form-data"}))
{
    <dl>
        <dt>
            @Html.Label("Choose an image")
        </dt>
        <dd>
            <input class="form-control-file" type="file" name="file" accept="image/*"/>
        </dd>
        <dt>
            @Html.LabelFor(m => m.Tags, "Tags (write them as comma-delimited words)")
        </dt>
        <dd>
            @Html.EditorFor(m => m.Tags, new {htmlAttributes = new {@class = ""}})
        </dd>
        <dt>
            @Html.LabelFor(m=> m.Description, "Description")
        </dt>
        <dd>
            <textarea rows="5" cols="60" id="Description" name="Description" type="text" >@Model.Description</textarea>
        </dd>
        <dt>
            @Html.LabelFor(m => m.ResizePercentage, "Image size")
        </dt>
        <dd>
            100% : @Html.RadioButtonFor(m => m.ResizePercentage, 1, new { @checked = "true"})
        </dd>
        <dd>
            75% : @Html.RadioButtonFor(m => m.ResizePercentage, 0.75f)
        </dd>
        <dd>
            50% : @Html.RadioButtonFor(m => m.ResizePercentage, 0.5f)
        </dd>
        <dd>
            25% : @Html.RadioButtonFor(m => m.ResizePercentage, 0.25f)
        </dd>
        <dt>
            @Html.LabelFor(m => m.ClearExifData, "Clear EXIF data?")
            @Html.EditorFor(m => m.ClearExifData)
        </dt>
    </dl>
    <input class="btn btn-light" type="submit" value="Upload"/>
}   
