@model Image_upload_project.Models.Image.ImageSearchModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Search</h1>
    @using(Html.BeginForm("Search","Home"))
    {
        <dl>
            <dt>
                @Html.LabelFor(m => m.Tags, "Hashtags (write them as words beginning with a # character):")
            </dt>
            <dd>
                @Html.EditorFor(m => m.Tags, new {htmlAttributes = new {@class = ""}})
            </dd>
            <dt>
                @Html.LabelFor(m => m.StartDate, "Uploaded since:")
            </dt>
            <dd>
                @Html.EditorFor(m => m.StartDate)
            </dd>
            <dt>
                @Html.LabelFor(m => m.EndDate, "Uploaded until:")
            </dt>
            <dd>
                @Html.EditorFor(m => m.EndDate)
            </dd>
        </dl>
        <input class="btn btn-primary" type="submit" value="Search"/>
    }
    
    @await Component.InvokeAsync("Images",new {tags=Model.Tags, dateFrom = Model.StartDate, dateTo = Model.EndDate})
</div>
